# Dependencies
node_modules/
**/node_modules/

# Build output
backend/dist/
frontend/dist/

# Environment (Secrets!)
backend/.env
.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Angular cache
.angular/
frontend/.angular/

# Uploads (PDFs werden nicht versioniert)
backend/uploads/
